* {
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: #FCEDDA;
}

h1 {
    text-align: center;
    color: #EE4E34;
    font-size: 45px;
}

section {
    border: 3px solid black;
    background-color: #E2D3F4;
    margin: 10px;
}

section>h2 {
    float: right;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    margin: 0;
    width: 160px;
    text-align: center;
    font-style: Verdana;
    font-size: 24px;
    font-weight: bold;
    height: 45px;
    padding-top: 10px;
}

section.chichen>h2 {
    color: #CCF381;
    background-color: #4831D4;
}

section.taj>h2 {
    color: #FFFFFF;
    background-color: #8AAAE5;
}

section.colloseum>h2 {
    color: #CC313D;
    background-color: #F7C5CC;
}

section>p {
    padding: 40px 15px 15px 15px;
}
/***** Responsive Part *****/
.row {
    width: 100%;
}

/* For Mobiles */
@media (max-width: 767px) {
  .device{
    float: left;
    
    width: 100%;
    
  }
}

/* For Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .device{
    float: left;    
    width: 50%;
  }
  #medium{
    float: left;
    width: 100%;
  }
} 

/* For Desktops*/
@media (min-width: 992px) {
  .device{
    float: left;    
    width: 33.33%
  }
}